mevenide2/idea-maven-plugin/src/main/xsd/maven-plugin.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2006 rel. 3 sp2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           targetNamespace="org/apache/maven/plugin" xmlns="org/apache/maven/plugin">
  <xs:element name="aggregator">
    <xs:simpleType>
      <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="artifactId">
    <xs:simpleType>
      <xs:restriction base="xs:string">
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="configuration">
    <xs:complexType>
      <xs:sequence>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="description" type="xs:string"/>
  <xs:element name="field-name">
    <xs:simpleType>
      <xs:restriction base="xs:string">
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="dependencies" type="xs:string"/>
  <xs:element name="executionStrategy">
    <xs:simpleType>
      <xs:restriction base="xs:string">
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="goal">
    <xs:simpleType>
      <xs:restriction base="xs:string">
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="goalPrefix">
    <xs:simpleType>
      <xs:restriction base="xs:string">
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="groupId">
    <xs:simpleType>
      <xs:restriction base="xs:string">
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="implementation">
    <xs:simpleType>
      <xs:restriction base="xs:string">
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="inheritedByDefault">
    <xs:simpleType>
      <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="instantiationStrategy">
    <xs:simpleType>
      <xs:restriction base="xs:string">
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="isolatedRealm">
    <xs:simpleType>
      <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="language">
    <xs:simpleType>
      <xs:restriction base="xs:string">
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="mojo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="goal"/>
        <xs:element ref="description"/>
        <xs:element ref="requiresDependencyResolution"/>
        <xs:element ref="requiresDirectInvocation"/>
        <xs:element ref="requiresProject"/>
        <xs:element ref="requiresReports"/>
        <xs:element ref="aggregator"/>
        <xs:element ref="requiresOnline"/>
        <xs:element ref="inheritedByDefault"/>
        <xs:element ref="phase"/>
        <xs:element ref="implementation"/>
        <xs:element ref="language"/>
        <xs:element ref="instantiationStrategy"/>
        <xs:element ref="executionStrategy"/>
        <xs:element ref="parameters"/>
        <xs:element ref="configuration"/>
        <xs:element ref="requirements"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mojos">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="mojo" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="parameter">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="type"/>
        <xs:element ref="required"/>
        <xs:element ref="description"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="parameters">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="parameter" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="phase">
    <xs:simpleType>
      <xs:restriction base="xs:string">
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="plugin">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="description"/>
        <xs:element ref="version"/>
        <xs:element ref="groupId"/>
        <xs:element ref="artifactId"/>
        <xs:element ref="version"/>
        <xs:element ref="goalPrefix"/>
        <xs:element ref="isolatedRealm"/>
        <xs:element ref="inheritedByDefault"/>
        <xs:element ref="mojos"/>
        <xs:element ref="dependencies"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="projectArtifact">
    <xs:complexType mixed="true">
      <xs:attribute name="implementation" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="required">
    <xs:simpleType>
      <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="requirement">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="role"/>
        <xs:element ref="field-name"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="requirements">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="requirement"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="requiresDependencyResolution">
    <xs:simpleType>
      <xs:restriction base="xs:string">
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="requiresDirectInvocation">
    <xs:simpleType>
      <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="requiresOnline">
    <xs:simpleType>
      <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="requiresProject">
    <xs:simpleType>
      <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="requiresReports">
    <xs:simpleType>
      <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
  </xs:element>
  <xs:element name="role">
    <xs:simpleType>
      <xs:restriction base="xs:string">
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="type">
    <xs:simpleType>
      <xs:restriction base="xs:string">
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="version">
    <xs:simpleType>
      <xs:restriction base="xs:decimal">
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
</xs:schema>
